/* css goes here */

html, .App {
  background-color: #eee
}

.pageHeader {
  border-radius: 5px 5px 0 0;
}

.pageHeader a {
  text-decoration: none;
}

.pageHeader .pageTitle {
  display: inline-block;
}

.pageHeader a:hover .pageTitle{
  color: #eee!important;
}

.pageHeader .userPhoto {
  height: 46px;
}

.loadingComponent .loadingIcon {
  color: red;
  height: 200px;
  font-size: 36px;
  transform: scale(1);
  animation: pulse .5s infinite;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.prBody {
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  padding-bottom: 140px;
  min-height: 500px;
  margin-bottom: 80px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
}

.prBody .footer {
  position: absolute;
  display: block;
  bottom: 10px;
  width: calc(100% - 40px);
}

.licenseWrapper {
  padding: 10px;
}

.licenseImage {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.react-datetime-picker, .react-date-picker, .selectCountry, .selectRegion, .react-tel-input .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.react-datetime-picker.is-invalid, .react-date-picker.is-invalid,
.react-tel-input.is-invalid .form-control,
.react-tel-input.is-invalid .flag-dropdown,
.selectCountry.is-invalid,
.selectRegion.is-invalid {
  border-color: #dc3545;
}

.react-datetime-picker__wrapper, .react-date-picker__wrapper{
  border: none;
  height: 24px;
}

.react-datetime-picker, .react-date-picker {
  height: 38px;
}

.react-tel-input .form-control {
  padding-left: 48px;
  height: 38px;
}

.react-calendar {
  outline: none;
  border: none;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 10px 0 10px -1px;
  box-shadow: 1px 2px 10px rgb(0 0 0 / 35%);
  background-color: white;
  width: 300px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
}

.stepIcon {
  margin-bottom: 7px;
  margin-left: 10px;
}

.stepIconInline {
  margin-bottom: 7px;
}

.iconInline {
  margin-bottom: 4px;
}

.uploadedImage img{
  max-height: 200px;
  padding:  10px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}





